[class*="col-"] {
    padding: 5px;
}

.inner {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.message {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}

.message-button {
    font-size: 14px;
}

.fixed-height {
    padding-bottom: 8px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    line-height: normal;
}

#message-area {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}


